:ruby
  def pad(total, i)
    i = i+1
    return "#{i}." if total < 10
    return "&nbsp;#{i}." if i < 10
    "#{i}."
  end

  def format(sec)
    min, sec = sec.divmod 60
    sec = "0#{sec}" if sec < 10
    "#{min}:#{sec}"
  end

- if tracks && tracks.length > 0
  %table
    - tracks.each_with_index do |track, i|
      %tr.track
        %td.track_num= "&nbsp;#{pad(tracks.count, i)}&nbsp;"
        %td.track_name
          = "#{track.name}"
          .track_len
            %i= "(#{format(track.duration)})"
- else
  %br
  %i= "&nbsp;&nbsp;No tracks found."