-# see: nimlok-louisiana.com/blog/create-custom-search-bars-with-image-replacement-using-css/

- rows = 37     # needs to be kept consistent with tchotchke.sass
- columns = 40  # 40 characters per column, based on 1080 width and 15 font size
- border = '|<br>'*rows

%html
  %head
    %title Tchotchke
    %link{ rel:'stylesheet', type:'text/css', href:'css/tchotchke.css' }
    %script{ type:'text/javascript', src:'//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' }
    %script= "window.jQuery || document.write(unescape(\"%3Cscript src='js/jquery.js' type='text/javascript'%3E%3C/script%3E\"));"
    %script{ type:'text/javascript', src:'js/tchotchke.js' }

  %body
    .inner
      .borders
        .left
          &nbsp;
        .middle.hidden
          = border
        .right.hidden
          = border

      .content

        .left
          .search
            %form#search
              %input#query
          - ['artist', 'album', 'track'].each do |type|
            .results.hidden{ id: "#{type}_results" }
              .result_type
                ="&nbsp;&nbsp;#{type.capitalize}s:"
              .content

        .middle.hidden
          .artist_name
          .top_albums
            = "&nbsp;&nbsp;&nbsp;Top Albums:"
            .content
          .similar_artists
            = "&nbsp;&nbsp;&nbsp;Similar Artists:"
            .content

        .right.hidden
          .album_name
          .tracks
            = "&nbsp;&nbsp;&nbsp;Tracks:"
            .content
