-# see: nimlok-louisiana.com/blog/create-custom-search-bars-with-image-replacement-using-css/

- rows = 37     # needs to be kept consistent with tchotchke.sass
- columns = 40  # 40 characters per column, based on 1080 width and 15 font size

%html
  %head
    %title Tchotchke
    %link{ rel:'stylesheet', type:'text/css', href:'css/tchotchke.css' }
    %script{ type:'text/javascript', src:'//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' }
    %script= "window.jQuery || document.write(unescape(\"%3Cscript src='js/jquery.js' type='text/javascript'%3E%3C/script%3E\"));"
    %script{ type:'text/javascript', src:'js/tchotchke.js' }

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35181758-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body.styled
    .inner.titled-pane
      .left.panel
        .search
          %form#search
            %input#query.styled.header{:size => columns - 8, :placeholder => ' search for music'}
        - ['artist', 'album', 'track'].each do |type|
          .results.titled-pane.hidden{ id: "#{type}_results" }
            .result_type
              .header= "&nbsp;&nbsp;#{type.capitalize}s:"
            .content

      .middle.panel.hidden
        .artist_name
        .top_albums.titled-pane
          .header= "&nbsp;&nbsp;Top Albums:"
          .content
        .similar_artists.titled-pane
          .header= "&nbsp;&nbsp;Similar Artists:"
          .content

      .right.panel.hidden
        .album_name
        .tracks.titled-pane
          .header= "&nbsp;&nbsp;Tracks:"
          .content
